<div class="p-2">
	{{ xx.files && xx.files.length }}
</div>
<div class="flex flex-center gap-2 p-2">
	<input v-model="xx.filePath" @keyup.enter="xx.addPath">
	<input v-model="xx.commitMessage" @keyup.enter="xx.clickCommit">
	<q-checkbox v-model="xx.base64Check" label="base 64"/>
	<button @click="xx.clickCommit">commit</button>
</div>


<script vars>
	xx.files=[]
</script>

<script>
	xx.base64Check=false;
	xui.loadModule('git', res=>clog("git module loaded"))
	xx.addPath = e => {
		const path=xx.filePath;
		if(!path ) return alert("저장경로를 입력하세요")
		const encode=xx.base64Check?'base64':'utf-8'
		const url=encode=='base64' ? 'api/app/readBase64/' : 'api/app/readFile/';
		global.apiCall('TEXT',url+path, res=> {
			xx.files.push({path, encode, content:res})
		})
	}
	xx.clickCommit = e => {
		const msg=xx.commitMessage || path+' commit'
		const result = xui.require('git').createCommit(msg, xx.files);
		clog("commit result", result);
		xx.files=[]
	}
</script>