## tree item dragable tree node
<q-draggable-tree v-model="data" :data="data" group="testsailordgod" rowKey="id">
	<template v-slot:left="{ item }">
	  <div class="row items-center">
		<q-icon v-if="item.icon" :name="item.icon" color="orange" size="25px" class="q-mr-sm"/>
		<q-icon v-else-if="item.type == 'root'" name="people" color="orange" size="25px" class="q-mr-sm"/>
		<q-icon v-else name="fastfood" color="orange" size="25px" class="q-mr-sm"/>
	  </div>
	</template>
	<template v-slot:body="{ item }">
	  <div class="row items-center">
		<div class="text-weight-bold text-primary">{{ item.label }}</div>
	  </div>
	</template>
</q-draggable-tree>

<script>
	store.data=[
		{
			id: 1,
			type: 'root',
			label: 'Satisfied customers',
			children: [
				{
					id: 2,
					label: 'Good food',
					icon: 'restaurant_menu',
					children: [
						{
							id: 3,
							label: 'Quality ingredients',
							children: []
						},
						{
							id: 4,
							label: 'Good recipe',
							children: []
						}
					]
				},
				{
					id: 5,
					label: 'Good service',
					icon: 'room_service',
					children: [
						{id: 6, label: 'Prompt attention',children: []},
						{id: 7, label: 'Professional waiter',children: []}
					]
				},
			]
		}
	];
</script>  

## tree item dragable tree node
<template>
  <div>
    <div style="border-radius: 3px;"
         :class="hasChildren?'q-tree__node--link':'q-tree__node--link q-treeview-node--leaf'"
    >
      <div style="padding-top: 6px;" class="row q-treeview-node__root" @click="open = !open">
        <q-icon size="sm" v-if="hasChildren" name="arrow_right"
                :class="open?'text-grey-8 q-tree__arrow--rotate':'text-grey-8'"/>
        <slot name="left" v-bind="{ item: value, open }"/>
        <slot v-if="hasDefaultSlot" name="body" v-bind="{ item: value, open }"/>
        <div v-if="!hasDefaultSlot" class="q-tree__node-header-content q-pa-xs">
          {{ value.label }}
        </div>
      </div>
      <div
          v-if="open && value.children.length > 0"
          class="q-tree__children"
          style="padding-top: 6px"
      >
        <draggable
            :list="value.children"
            item-key="name" :group="group"
            @input="updateValue"
            ghost-class="ghost"
            @start="drag = true"
            @end="drag = false"
        >
          <q-draggable-tree-node v-for="(item,index) in value.children"
			 :key="index"
			 :value="item"
			 @input="updateChildValue"
			 :group="group"
			 :rowKey="rowKey"
          >
            <template #left="{ item:element, open }">
              <slot name="left" v-bind="{ item:element, open }"></slot>
            </template>
            <template v-if="hasDefaultSlot" #body="{ item:element, open }">
              <slot name="body" v-bind="{ item:element, open }"></slot>
            </template>
            <span v-if="!hasDefaultSlot">{{ item.label }}</span>
          </q-draggable-tree-node>
        </draggable>
      </div>
      <div v-else class="q-tree__children">
        <draggable
            item-key="name"
            :list="value.children"
            ghost-class="ghost"
            @input="updateValue"
            :group="group"
            class="dragArea"
            @start="drag = true"
            @end="drag = false"
        >
        </draggable>
      </div>
    </div>
  </div>
</template>
<script>
import {VueDraggableNext} from "vue-draggable-next";

import {defineComponent} from 'vue';
import {ref} from 'vue';

export default defineComponent({
  name: "QDraggableTreeNode",
  components: {
    draggable: VueDraggableNext,
  },
  props: {
    value: {
      type: Object,
      default: () => ({
        id: 0,
        name: "",
        children: []
      })
    },
    root: {
      type: Boolean,
      default: () => false
    },
    group: {
      type: String,
      default: null
    },
    rowKey: {
      type: String,
      default: 'label'
    },
  },
  data() {
    return {
      open: ref(true),
      drag: ref(false),
      localValue: ref(this.value),
      enabled: true,
      list: [
        {name: "John", id: 0},
        {name: "Joao", id: 1},
        {name: "Jean", id: 2}
      ],
      dragging: false
    };
  },
  computed: {
    hasChildren() {
      return this.value.children != null && this.value.children.length > 0;
    },
    isDark() {
      return "";
    },
    hasDefaultSlot() {
      return this.$slots.hasOwnProperty("body");
    },
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        emptyInsertThreshold: 10,
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },
  watch: {
    value(value) {
      this.localValue = Object.assign({}, value);
    }
  },
  methods: {
    updateValue(value) {
      if (value.constructor === Array) {
        this.localValue.children = [...value];
        this.$emit("input", this.localValue);
        this.open = true;
      }
    },
    updateChildValue(value) {
      const index = this.localValue.children.findIndex(c => c[this.rowKey] === value[this.rowKey]);
      this.localValue.children[index] = value
      this.$emit("input", this.localValue);
    }
  },
  emits: ['input']
})

</script>

<style scoped>

.ghost {
  opacity: 0.5;
  background: lightgray;
}

.list-group {
  min-height: 20px;
}

.list-group-item {
  cursor: move;
}

.list-group-item i {
  cursor: pointer;
}

.dragArea {
  min-height: 11px;
}
</style>

## tree item dragable 
<template>
  <div class="q-pa-md q-gutter-sm">
    <q-draggable-tree-node
        v-for="(item, index) in treeData" v-bind:value="item" v-bind:group="group" v-on:input="updateItem" v-bind:rowKey="rowKey"
    >
      <template v-slot:left="{ item, open }">
        <slot name="left" v-bind:item="item" v-bind:open="open"></slot>
      </template>
      <template v-if="hasDefaultSlot" v-slot:body="{ item, open }">
        <slot name="body" v-bind="{ item, open }"></slot>
      </template>
      <span v-if="!hasDefaultSlot">{{ item }}</span>
    </q-draggable-tree-node>
  </div>
</template>

<script>
import QDraggableTreeNode from "./QDraggableTreeNode.vue";

import {defineComponent} from 'vue';
import {ref} from 'vue';

export default defineComponent({
  components: {
    QDraggableTreeNode
  },
  props: {
    data: {
      type: Array,
      default: () => {
        return [];
      }
    },
    group: {
      type: String,
      default: null
    },
    rowKey: {
      type: String,
      default: 'label'
    },
  },
  data() {
    return {
      drag: ref(false),
      localValue: ref([...this.data])
    };
  },
  computed: {
    treeData: {
      get() {
        return this.data
      },
      set(val) {
        // We should not update original data
      }
    },
    themeClassName() {
      return 'theme--dark';
    },
    hasDefaultSlot() {
      return this.$slots.hasOwnProperty("body");
    },
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        emptyInsertThreshold: 10,
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },
  watch: {
    value(value) {
      this.localValue = [...value];
    }
  },
  methods: {
    updateValue(value) {
      this.localValue = value;
      this.$emit("input", this.localValue);
    },
    updateItem(itemValue) {
      const index = this.localValue.findIndex(v => v[this.rowKey] === itemValue[this.rowKey]);
      this.localValue[index] = itemValue
      this.$emit("input", this.localValue);
    }
  }
});

</script>

<style scoped>

.ghost {
  opacity: 0.5;
  background: lightgray;
}

.list-group {
  min-height: 20px;
}

.list-group-item {
  cursor: move;
}

.list-group-item i {
  cursor: pointer;
}
</style>

## 트리 컴포넌트
<ul class="treeList">
	<tree-item :item="store.treeItem.data" :store="store"></tree-item>
</ul>

<script vars>
	store.treeItem = {
		data: [],
		click: function(item, evt) {
 			clog('click item==>', item)
 			if( item.children.length > 0 ) {
 				item.open=typeof item.open=='boolean' ? !item.open: true;
 			}
 			if(this.currentItem ) this.currentItem.active=false
 			item.active=true;
 			this.currentItem=item;
 		},
 		doubleClick: function(item) {
 			clog('double click item==>', item)
 		},
 	}
</script>

<script setup>
 	global.apiCall('GET','/api/conf/makePathTree/js', res=>store.treeItem.data=res)
</script> 

<define tree-item>
	<li>
	    <div :class="itemCls" @click="e=>store.treeItem.click(item,e)" @dblclick="store.treeItem.doubleClick(item)">
			{{ item.name }}
	    </div>
	    <ul v-show="item.open" v-if="isFolder">
			<tree-item class="item"
				v-for="(cur, index) in item.children" :key="index" :item="cur" :store="store"
			></tree-item>
	    </ul>
	</li>
	<script computed>
		isFolder: function() {
			return this.item.type=='folder' || (this.item.children && this.item.children.length)
		},
		itemCls: function() {
			const sty=[]
			sty.push(this.isFolder?'ti-folder text-bold':'ti-file')
			if(this.item.open ) sty.push('ti-open')
			if(this.item.active ) sty.push('ti-active')
			return sty
		}
	</script>
</define>

<style>
	.ti-folder:before {
		height: 16px;
		width: 16px;
		text-align: center;
		line-height: 10px;
		background: #5f6f72;
		border-radius: 1px;
		display: inline-block;
		content: "+";
		margin-right: 8px;
		color: #fff;
		padding: 2px 2px;
	}
</style>

## 메뉴처리 또는 팝업
<button color="primary" label="Basic Menu" :ref="el=>store.btn=el" @click="store.openMenu()"> test</button>
<button color="primary" label="Basic Menu" :ref="el=>store.btn1=el" @click="store.menuTarget=store.btn"> test</button>

persistent 
transition-show="flip-right"
transition-hide="flip-left"
transition-show="scale"
transition-hide="scale"
anchor="top right"
self="top left"
		  
<q-menu :ref="el=>store.menu=el" :target="store.menuTarget" v-model="store.menuPopup" auto-close context-menu>
  <q-list style="min-width: 100px">
    <q-item clickable v-close-popup>
      <q-item-section>New tab</q-item-section>
    </q-item>
    <q-item clickable v-close-popup>
      <q-item-section>New incognito tab</q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-close-popup>
      <q-item-section>Recent tabs</q-item-section>
    </q-item>
  </q-list>
</q-menu>


<script vars>
	store.btn=null
	store.menu=null;
	store.menuPopup=false
	store.menuTarget=null;
</script>

<script>
	clog("xxxx", store.btn, store.menu)
</script>

          
